<div id="fullCalendar"></div>

<script>
    var custom_position = {corner: {
      target: "rightMiddle",
      tooltip: "leftMiddle"
    }};

	$(function(){
    // Default options for fullCalendar goes here
    default_options = {
      lang: 'es',
      header: {
        left: 'title',
        center: '',
        right: 'prev,today,next month,basicWeek,basicDay'
      },
      eventRender: function( event, element, view ){
        element.qtip({
          content: event.tooltip,
          style: {
            classes: 'qtip-shadow myStyle'}
//          ,position: {
//            my: 'right top',  // Position my top left...
//            at: 'left bottom', // at the bottom right of...
//            target: $(element) // my target
//          }
        });
      },
      events: <%= events.to_json.html_safe %>
    };

    $('div#fullCalendar').fullCalendar($.extend(default_options, <%=options%>));
  });
</script>
