<div id="fullCalendar"></div>

<script>
    var custom_position = {corner: {
      my: "bottom center",
      at: "bottom center"
    }};

	$(function(){
    // Default options for fullCalendar goes here
    default_options = {
      lang: 'es',
      header: {
        left: 'title',
        center: '',
        right: 'prev,today,next month,basicWeek,basicDay'
      },
      eventRender: function( event, element, view ){
        element.qtip({
          content: event.tooltip,
//          position: {corner: {tooltip: 'bottomLeft', target: 'topRight'}},
          position:{
            my:'top center',
            at:'top center'
          },
          style: {
            classes: 'qtip-shadow myStyle'
          },
          tip: 'topLeft'
//          ,position: {
//            my: 'right top',  // Position my top left...
//            at: 'left bottom', // at the bottom right of...
//            target: $(element) // my target
//          }
        });
      },
      events: <%= events.to_json.html_safe %>
    };

    $('div#fullCalendar').fullCalendar($.extend(default_options, <%=options%>));
  });
</script>
